@import "../env/mixins.less";
@import "../env/base.less";

.ui-loader {
    width: 900px;
    height: 50px;
    padding: 3px;

    .border-radius(25px);
    .box-sizing(border-box);
    .gradient(top, rgba(121,140,157,.9), rgba(189,204,219,.9), 'texture.png');
    .box-shadow(~"0 2px 0 rgba(255, 255, 255, .8)"
        ~", 0 2px 0 rgba(84, 92, 100, .8) inset"
        ~", 0 2px 8px #3e566c inset"
        ~", 0 -2px 0 rgba(236, 240, 244, .2)"
        ~", 0 1px 4px rgba(111, 131, 150, .72) inset");

    .ui-loader-progress {
        height: 45px;
        border: 2px solid #1a6a98;

        .border-radius(35px);
        .box-sizing(border-box);
        .gradient(top, rgba(78,185,246,.9), rgba(61,162,220,.9), 'texture.png');
        .box-shadow(~"0 1px 4px rgba(255, 255, 255, .4) inset"
            ~", 0 -8px 10px rgba(29, 126, 182, .74) inset"
            ~", 0 0 10px rgba(26, 106, 152, .36) inset"
            ~", 0 2px 0 rgba(199, 232, 251, .22) inset"
            ~", 0 1px 0 rgba(170, 218, 246, .81) inset"
            ~", 0 -2px 4px rgba(30, 123, 176, .61) inset"
            ~", -3px 6px 4px rgba(255, 255, 255, .30) inset");
    }

    /* Centerize */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -450px;
}