.ui-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -450px;
  width: 900px;
  height: 50px;
  padding: 3px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(121, 140, 157, 0.9);
  background-image: -webkit-linear-gradient(top, rgba(121, 140, 157, 0.9), rgba(189, 204, 219, 0.9)), url('texture.png');
  background-image: -moz-linear-gradient(top, rgba(121, 140, 157, 0.9), rgba(189, 204, 219, 0.9)), url('texture.png');
  background-image: -o-linear-gradient(top, rgba(121, 140, 157, 0.9), rgba(189, 204, 219, 0.9)), url('texture.png');
  background-image: -ms-linear-gradient(top, rgba(121, 140, 157, 0.9), rgba(189, 204, 219, 0.9)), url('texture.png');
  background-image: linear-gradient(top, rgba(121, 140, 157, 0.9), rgba(189, 204, 219, 0.9)), url('texture.png');
  -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, .8) , 0 2px 0 rgba(84, 92, 100, .8) inset , 0 2px 8px #3e566c inset , 0 -2px 0 rgba(236, 240, 244, .2) , 0 1px 4px rgba(111, 131, 150, .72) inset;
  -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, .8) , 0 2px 0 rgba(84, 92, 100, .8) inset , 0 2px 8px #3e566c inset , 0 -2px 0 rgba(236, 240, 244, .2) , 0 1px 4px rgba(111, 131, 150, .72) inset;
  box-shadow: 0 2px 0 rgba(255, 255, 255, .8) , 0 2px 0 rgba(84, 92, 100, .8) inset , 0 2px 8px #3e566c inset , 0 -2px 0 rgba(236, 240, 244, .2) , 0 1px 4px rgba(111, 131, 150, .72) inset;
}
.ui-loader .ui-loader-progress {
  height: 45px;
  border: 2px solid #1a6a98;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(78, 185, 246, 0.9);
  background-image: -webkit-linear-gradient(top, rgba(78, 185, 246, 0.9), rgba(61, 162, 220, 0.9)), url('texture.png');
  background-image: -moz-linear-gradient(top, rgba(78, 185, 246, 0.9), rgba(61, 162, 220, 0.9)), url('texture.png');
  background-image: -o-linear-gradient(top, rgba(78, 185, 246, 0.9), rgba(61, 162, 220, 0.9)), url('texture.png');
  background-image: -ms-linear-gradient(top, rgba(78, 185, 246, 0.9), rgba(61, 162, 220, 0.9)), url('texture.png');
  background-image: linear-gradient(top, rgba(78, 185, 246, 0.9), rgba(61, 162, 220, 0.9)), url('texture.png');
  -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, .4) inset , 0 -8px 10px rgba(29, 126, 182, .74) inset , 0 0 10px rgba(26, 106, 152, .36) inset , 0 2px 0 rgba(199, 232, 251, .22) inset , 0 1px 0 rgba(170, 218, 246, .81) inset , 0 -2px 4px rgba(30, 123, 176, .61) inset , -3px 6px 4px rgba(255, 255, 255, .30) inset;
  -moz-box-shadow: 0 1px 4px rgba(255, 255, 255, .4) inset , 0 -8px 10px rgba(29, 126, 182, .74) inset , 0 0 10px rgba(26, 106, 152, .36) inset , 0 2px 0 rgba(199, 232, 251, .22) inset , 0 1px 0 rgba(170, 218, 246, .81) inset , 0 -2px 4px rgba(30, 123, 176, .61) inset , -3px 6px 4px rgba(255, 255, 255, .30) inset;
  box-shadow: 0 1px 4px rgba(255, 255, 255, .4) inset , 0 -8px 10px rgba(29, 126, 182, .74) inset , 0 0 10px rgba(26, 106, 152, .36) inset , 0 2px 0 rgba(199, 232, 251, .22) inset , 0 1px 0 rgba(170, 218, 246, .81) inset , 0 -2px 4px rgba(30, 123, 176, .61) inset , -3px 6px 4px rgba(255, 255, 255, .30) inset;
}
